<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12 text-center h2">Application To Rent</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Last Name</span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">First Name</span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Middle Name</span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Social Security Number </span>
                <span class="display-value">111-22-3333</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="display-label">Other Names </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Work Phone </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Home Phone </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Date of Birth </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-6">
                <span class="display-label">Email </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Mobile Phone </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <hr>
        <!-- previous_addresses.each do |adr| -->
        <div class="row">
            <div class="col-md-5">
                <span class="display-label">Previous Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">City </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">State </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Zip </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="display-label">Date In </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Date Out </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Owner/Agent Name </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Owner/Agent Phone Number </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="display-label">Reason for moving out </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- Proposed Occupants, two columns -->
        <!-- occupants.each_with_index do |occupant, i| -->
        <div class="row"><!-- if i%2==0 -->
            <div class = "col-md-6">
                <span class="display-label">Name </span>
                <span class="display-value">Matthew</span>
            </div>
        </div><!-- if i%2==1 or i==occupants.size-1 -->
        <!-- end occupants -->
        <div class="row">
            <div class="col-md-1">
                <span class="display-label">Pets? </span>
                <span class="display-value">No</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Describe </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-1">
                <span class="display-label">Waterbed? </span>
                <span class="display-value">No</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Describe </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Gross Income </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Per </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <hr>
        <!-- employers.each do -->
        <div class="row">
            <div class="col-md-4">
                <span class="display-label">Employer Name </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-4">
                <span class="display-label">Job Title or Position </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-4">
                <span class="display-label">Dates of Employment </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="display-label">Employer Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-4">
                <span class="display-label">City </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">State </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Zip </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="display-label">Name of Supervisor/HR Manager </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-6">
                <span class="display-label">Employer/Human Resources Phone Number </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end employers -->
        <hr>
        <!-- other_income.each do -->
        <div class="row">
            <div class="col-md-6">
                <span class="display-label">Other Income Source </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-4">
                <span class="display-label">Amount </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Per </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end other_income -->
        <!-- banks.each do -->
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Bank Name </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-6">
                <span class="display-label">Branch or Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-3">
                <span class="display-label">Account Number </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end of banks -->

        <div class="row">
            <div class="col-md-12 text-center">
                <span class="display-label">List of all financial obligations </span>
            </div>
        </div>
        <!-- debts.each do -->
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Name of Creditor </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Phone Number </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Monthly Payment </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end of debts -->
        <!-- emergencies.each do -->
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Emergency Contact </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Relationship </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Phone </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end of emergencies -->
        <!-- references.each do -->
        <div class="row">
            <div class="col-md-2">
                <span class="display-label">Personal Ref </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-4">
                <span class="display-label">Address </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Known </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Occupation </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Phone </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end of references -->
        <!-- cars.each do -->
        <div class="row">
            <div class="col-md-3">
                <span class="display-label">Automobile Make </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-5">
                <span class="display-label">Model </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">Year </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-2">
                <span class="display-label">License # </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <!-- end of cars -->
        <div class="row">
            <div class="col-md-6">
                <span class="display-label">Have you ever filed for bankrupcy? </span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-6">
                <span class="display-label">Have you ever been evicted or asked to move? </span>
                <span class="display-value">Matthew</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="display-label">Have you ever been convicted of selling, distributing, or manufacturing illegal drugs?</span>
                <span class="display-value">Matthew </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>
                <span class="display-text">Applicant represents that all the above statements are true and correct, authorizes verification of the above items and agrees to furnish additional credit references upon request.  Applicant authorizes the Owner/Agent to obtain reports that may include credit reports, unlauful detainer (eviction) reports, bad check searches, social security number verification, fraud warnings, previous tenant history and employment history.  Applicant consents to allow Owner/Agent to disclose tenancy information to previous or subsequent Owners/Agents.</span>
                <p>
                <span class="display-text">Owner/Agent will require a payment of</span>
                <span class="display-value">$24.00</span>
                <span class="display-text">, which is to be used to screen Applicant.</span>
                <p>
                <span class="display-text">The amount charged is itemized as follows:</span>
                <ol>
                    <li>
                    <span class="display-text">Actual cost of credit report, unlawful detainer (eviction) search, and/or other screening reports</span>
                    <span class="display-value">$22.00</span>
                    <li>
                    <span class="display-text">Cost to obtain, process and verify screening information (may include staff time and other soft costs)</span>
                    <span class="display-value">$2.00</span>
                    <li>
                    <span class="display-text">Total fee charged
                    <span class="display-value">$24.00</span>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                <span class="display-text">The undersigned is applying to rent the premises designated as: </span>
                <span class="display-value">1234 Anystreet st, Anytown, ST, Apt 12</span>
                <p>
                <span class="display-text">The rent for which is: </span>
                <span class="display-value">amount</span>
                <span class="display-text">per</span>
                <span class="display-value">month</span>
                <span class="display-text">.  Upon approval of this application, and execution of a rental/lease agreement, the applicant shall pay all sums due, including required security deposit of </span>
                <span class="display-value">amount</span>
                <span class="display-text">, before occupancy.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="display-text">Date:</span>
                <span class="display-value">Matthew</span>
            </div>
            <div class="col-md-8">
                <span class="display-text">Applicant Signature:</span>
                <span class="display-value">Digitally Signed (or left blank)</span>
            </div>
        </div>
    </body>
</html>
